<!doctype html>
<html>
    <head>
        <title> Signup </title>
    </head>
   
    <body> 
        <h1> Signup </h1> 
        <form action="/welcome" method="post">
            <label for="Username"> Username </label>
            <input name="Username" value="" type="text">
            <span style="color:red;">{{ username }}</span>
            <br />
        
            <label for="Password"> Password </label>
            <input name="Password" type="password" />  
            <span style="color:red;">{{ password }}</span>
            <br />

            <label for="password2"> Verify Password </label>
            <input name="password2" type="password"/>
            <span style="color:red;">{{ password_again }}</span>
            <br />   

            <label for="email">Email (optional) </label>
            <input name="email" type="text"/>
            <span style="color:red;">{{ email_error }}</span>
            <br />

            <input type="submit" value="Submit Query" />
        
        </form>
    </body>
</html>